nav.rj-header{
    background-color: #0275d8;
    color: #99ddff;
    border-bottom: solid black;
    padding-top: .2rem;
    padding-bottom: .6rem;
}

a.nav-link{
    padding-top: .75rem;
    color: #99ddff;
    font-size: 1.5rem;
}

.pic-container{
    border-bottom: solid black;
}

h1.warning-text{
    font-family: Oswald;
    letter-spacing: .5rem;
    color: #99ddff;
}

h2.works-descriptor{
    font-family: Oswald;
    color: #99ddff;
    font-size: 350%;
}

a.navbar-brand{
    font-size: 2rem;
    color: #014c8c;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-right: .5rem;
}

.ham:active, .ham:focus{
    outline: none !important;
}

.about-pic{
    border: solid black;
}

.pic-descriptor{
    font-family: Oswald;
    color: #36455C;
    font-size: 150%;
}

hr.light{
    color: #36455C;
}

img{
    image-orientation: from-image;
}

button.navbar-toggler{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 38 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,221,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: #0275d8;
    background-repeat: no-repeat;
    border: solid #99ddff;
}

li.nav-item{
    font-family: Oswald;
    color: #99ddff;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#inner{
    padding: 0 0 0 0 !important;
}

.extra-col{
    background-color: #0275d8;
    color: black;
    text-align: left;
    font-family: Oswald;
}

#desc{
    text-align: center;
    width: 100%;
    background-color: #99ddff;
}

#canvas{
    width: 100%;
    height: 100%;
}

#stream, #vflip, #hflip{
    background-color: red;
    outline: none;
    border: 0 none;
    width: 100%;
}

#chat{
    background-color: #99ddff;
    font-family: Oswald;
    width: 100%;
    margin-bottom: 0;
    padding: 140Px 15px 33px 2px;
}

#send{
    background-color: #99ddff;
    color: #ffffff;
    margin: 0 0 0 0;
    width: 100%;
    text-align: center;
    cursor: pointer !important;
    font-size: 2.1rem;
}

#chatter{
    margin-bottom: 60rem;
    padding-left: 0;
    padding-right: 0;
}

#send:hover{
    cursor: pointer !important;
}

#text, #user, #channel{
    font-family: Oswald;
    background-color: white;
    margin: 0 0 0 0;
    width: 100%;
    border: none;
}

.bottom-row{
    border-bottom: solid #99ddff;
}

.contigous-bg{
    background-color: #99ddff;
}

#text:focus, #user:focus, #channel:focus{
    outline: none;
}

.spacer{
    padding-top: 6rem;
}

h6.views{
    margin-top: .25rem;
    margin-bottom: 0;
    font-family: Oswald;
    font-size: 1.5rem;
    color: #99ddff;
}

.parallax{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 2046px) {
    .parallax{
        width: 990px !important;
    }
    div.in-between{
        width: 990px !important;
        font-family: Oswald;
        background-color: #99ddff;
        height: 6.5rem;
        line-height: 6rem;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
        color: #0275d8;
        border-bottom: solid black;
        border-top: solid black;
    }
}

.main-img1{
    background-image: url("../images/nice_senior_pic_webed1.jpg");
    height: 16rem;
}

img.center{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

p.center{
    text-align: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 488px){
    p.email{
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 489px){
    p.email{
        font-size: 3.4rem;
    }
}

p.email{
    font-family: Oswald;
}

div.media-icons{
    margin-top: 2rem;
}

.main-img2{
    background-image: url("../images/nice_senior_pic_webed3.jpg");
    height: 32rem;
}

div.in-between{
    font-family: Oswald;
    background-color: #99ddff;
    height: 6.5rem;
    line-height: 6rem;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    color: #0275d8;
    border-bottom: solid black;
    border-top: solid black;
}

h1.title-text{
    font-family: Oswald;
    font-size: 700%;
}

p.about-text{
    font-family: Oswald;
    font-size: 200%;
    color: #99ddff;
}

div.about{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #0275d8;
}

div.contact{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #99ddff;
}

div.works{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #0275d8;
}

.works-row{
    padding-bottom: 5rem;
}

.works-text{
    color: #99ddff;
    font-size: 200%;
}

body{
    background-color: black;
}
.super-spacer{
    height: 100rem;
}

p.contact-text{
    font-family: Oswald;
    font-size: 150%;
    color: #0275d8;
}

div.heading{
    padding-left: 0;
    padding-right: 0;
}

p.footer-title {
    text-align: left;
    color: #0275d8;
    font-family: Oswald;
    font-weight: 600;
    font-size: 200%;
}

p.footer-sub{
    text-align: left;
    font-family: Oswald;
    color: #0275d8;
    font-size: 100%;
}

div.website-work{
    border: solid black;
    text-align: center;
    font-family: Oswald;
    font-weight: bold;
    font-size: 4rem;
    color: black;
    background-color: #99ddff;
}