<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header"}}
        {{template "chatbox"}}
        {{template "footer"}}
        {{template "chatbox-javascript"}}
    </body>
</html>