<!DOCTYPE html>
<html>
    {{template "defaulthead" "GOAT"}}
    <body>
        {{template "header"}}
        <center>
            <h1 id="hs">HERDSPIN</h1>
        </center>
        <div class="container-fluid">
            <div class="row no-gutters" >
                {{range getIter}}
                <div class="col-xs-1" >
                    <img src="http://goatspin.org/goatspin_lowres.gif" alt="goat">
                </div>
                {{end}}
            </div>
        </div>
        <iframe width="10" height="10" src="https://www.youtube.com/embed/DnsDbOi6sTY?autoplay=1" frameborder="0" allowfullscreen></iframe>
        {{template "footer"}}
        <!--div.super-spacer-->
        <script type="text/javascript">
            /*setInterval(function(){
                var $hs = $("#hs");
                var myVar = setInterval(function(){ $hs.slide()}, 20);
                $("#hs").Stop(true,true).animate({left: 300}, 1000,
                    function(){ $(this).Stop(true,true).animate({left: 0}, 1000);
                    });
            }, 2000);​*/
        </script>
    </body>
</html>