<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header" .}}
        <div class="container-fluid pic-container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="parallax main-img1"></div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="in-between">
                        <p class="in-between">Welcome to RJ's Site</p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="parallax main-img2"></div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <div id="About" class="container-fluid about">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h1 class="title-text">About Riley</h1>
                    <hr class="light">
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <img src="public/images/rj_with_kramer_snip.jpg" alt="RJ with CEO of Omnibyte and Congressman Kevin Kramer" class="about-pic img-fluid">
                    <p class="pic-descriptor">RJ with CEO of OmniByte Ray Berry and ND Congressman Kevin Kramer, respectively</p>
                </div>
                <div class="col-sm-6">
                    <p class="about-text">
                        Riley Johnson is a DSU student majoring in Computer Science and Minoring in Cyber Operations and Center of Excellence Computer Information Systems,
                        actively keeping up with the newest in cryptocurrency, computing, and programming. Speaking of which, Riley's ever expanding repertoire of programming
                        and scripting languages he knows currently includes: Go, PHP, Python, C, C#, VB.net, SQL, Java, HTML, CSS, Javascript (including jQuery, Node, Vue,
                        and Angular 2), Batch, and Shell. Though Riley is actively programming more than anything else, he is also knowledgeable in current networking
                        practices in terms of implementation, expandability, and especially safety. In his free time, Riley tries to program as much as
                        possible, but when out of fresh ideas, he can usually be found reading economic and programming books, watching movies, or
                        trading crypto.
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div id="Contact" class="container-fluid contact">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h1 class="title-text">Contact Riley</h1>
                    <hr class="light">
                    <!--p.contact-text//|Contact me
                    -->
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row media-icons">
                <div class="col-sm-1"></div>
                <div class="col-sm-10"><a id="email" href="mailto:rj@therileyjohnson.com" target="_blank"><img src="public/images/email.png" alt="email" class="center"></a><a id="email2" href="mailto:rj@therileyjohnson.com" target="_blank">
                    <p class="email center">rj@therileyjohnson.com</p></a></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row media-icons">
                <div class="col-sm-1"></div>
                <div class="col-sm-5"><a id="linkedin" href="https://www.linkedin.com/in/riley-johnson-84297213a/" target="_blank"><img src="public/images/linkedin.png" alt="linkedin" class="center"></a></div>
                <div class="col-sm-5"><a id="github" href="https://github.com/the-rileyj" target="_blank"><img src="public/images/github.png" alt="github" class="center"></a></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row media-icons">
                <div class="col-sm-1"></div>
                <div class="col-sm-5"><a id="reddit" href="https://www.reddit.com/user/therileyjohnson/" target="_blank"><img src="public/images/reddit.png" alt="reddit" class="center"></a></div>
                <div class="col-sm-5"><a id="instagram" href="https://www.instagram.com/rj_theplug/" target="_blank"><img src="public/images/instagram.png" alt="instagram" class="center"></a></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row media-icons">
                <div class="col-sm-1"></div>
                <div class="col-sm-5"><a id="twitter" href="https://twitter.com/rileywub" target="_blank"><img src="public/images/twitter.png" alt="twitter" class="center"></a></div>
                <div class="col-sm-5"><a id="facebook" href="https://www.facebook.com/riley.johnson.7121614" target="_blank"><img src="public/images/facebook.png" alt="facebook" class="center"></a></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row media-icons">
                <div class="col-sm-1"></div>
                <div class="col-sm-10"><img src="public/images/{{snapCode}}.png" alt="snapcode" class="img-fluid center"></div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div id="Works" class="container-fluid works">
            <div class="row works-row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 heading">
                    <h1 class="title-text">Other Work by Riley</h1>
                    <hr class="light">
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row works-row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h2 class="works-descriptor">RJ's Resume</h2>
                </div>
                <div style="padding-left: 0" class="col-sm-6"><a href="public/files/pdf/rjResume.pdf" download class="works-text">Download</a></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row works-row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h2 class="works-descriptor">Learn Go Fast PowerPoint</h2>
                </div>
                <div style="padding-left: 0" class="col-sm-3"><a href="public/files/pptx/Learn Go Fast.pptx" download class="works-text">Download</a></div>
                <div style="padding-right: 0" class="col-sm-3"><a href="https://github.com/the-rileyj/Learn-Go-Fast" target="_blank" class="works-text">Link to Corresponding Code</a></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row works-row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h2 class="works-descriptor">Kimbo Slice Tribute</h2>
                </div>
                <div class="col-sm-6 embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/_7mr2wypMG0" frameborder="0" allowfullscreen=1></iframe>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row works-row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h2 class="works-descriptor">This Website</h2>
                </div>
                <div class="col-sm-6 website-work">
                    Proudly built with Go
                    <a href="https://golang.org/" target="_blank"><img class="img-fluid center" alt="golang-gopher" src="public/images/golang_gopher.png"/></a>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row works-row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h2 class="works-descriptor">Channeled Chat</h2>
                </div>
                <div class="col-sm-6 website-work">
                    <a href="/chat">Visit WebApp</a>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 heading">
                    <hr class="light">
                    <h1 class="warning-text">More to Come Soon...</h1>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        {{template "footer"}}
        <!--div.super-spacer-->
    </body>
</html>