<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header" .}}
        <div class="container-fluid pic-container">
            <div class="row">
                <div class="col-sm-12">
                    {{.}}
                </div>
            </div>
        </div>
        {{template "footer"}}
        <!--div.super-spacer-->
    </body>
</html>