<!DOCTYPE html>
<html>

<head>
    <title>RJ's Naruto Watcher</title>
    {{template "defaulthead"}}
    <link rel="stylesheet" href="/public/stylesheets/naruto.css">
</head>

<body>
    {{template "header"}}
    <div id="main">
        <audio id="sound" src="/public/files/mp3/maskoffnotification2.5.mp3" autostart="false" style="display: none"></audio>
        <div id="loading">
            <div id="dualRing"></div>
        </div>
        <div id="login" style="display: none">
            <div id="loginResponse"></div>
            <input placeholder="Username" id="username" type="text">
            <input placeholder="Password" id="password" type="password">
            <button id="loginButton">login</button>
        </div>
        <div id="naruto" style="display: none">
            <select id="narutoList"></select>
            <!-- <div id="narutoQualityInformation">
                <select id="narutoSelectQuality"></select>
                <div id="narutoCurrentQualityInfo">
                    Currently: <span id="narutoCurrentQuality">None</span>
                </div>
            </div> -->
            <button id="lastVideo">Last Video</button>
            <!-- <video width="100%" id="narutoVideo"></video> -->
            <div id="narutoEpisodeVideo">
                <iframe allowfullscreen height="50%" id="narutoVideo" src=""></iframe>
            </div>
            <button id="nextVideo">Next Video</button>
            <!-- <input placeholder="Phone Number" id="phoneNumber" type="text">
            <input placeholder="message" id="phoneMessage" type="text">
            <button id="sendMessageButton">Send Message</button>
            <select id="messagesList"></select>
            <div id="messageHistory"></div> -->
            <div id="narutoError"></div>
        </div>
    </div>
    <div id="Home" class="spacer"></div>
    {{template "footer"}}
    <script src="/public/javascript/axios.min.js" type="text/javascript"></script>
    <script src="/public/javascript/naruto.js" type="text/javascript">

    </script>
</body>

</html>